
[submodule "interview"]
	path = interview
	url = git@github.com:hackcpp/hackcpp.github.io.git
[submodule "cplusplus"]
	path = cplusplus
	url = git@github.com:hackcpp/cplusplus.git
[submodule "hackcpp"]
	path = hackcpp
	url = git@github.com:hackcpp/hackcpp.git
